@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

body{ 
    margin: none;
    border: none;
}

header{
    display: flex;
}

.header__logo{
    align-items: center;
    display: flex;
}

.header__logo h1{
    font-style: italic;
    color: #fff;
    font-weight: 500;
    
}

.header__buttons{
    display: flex;
    box-shadow: -5px -5px 0px 0px rgba(154,131,25, 0.6),
                -10px -11px 0px 0px rgba(154,131,25, 0.45);
}

.header__buttons button{
    font-weight: 700;
    cursor: pointer;
    background: #F6C506;
    align-items: center;
    justify-content: center;
    border: unset;
    display: flex;
    color: #9E7D09;
}

.header__buttons button:hover{
    background: #c49d03;
    color: #503f01;
}
#services{
    border-left: 1px solid #E0B101;
    border-right: 1px solid #E0B101;
}

.main__video-section{
    display: flex;
    justify-content: space-between;
}

.main__button-section{
    display: flex;
    justify-content: center;
    background: url(assets/mobilecolumnbg.svg);
    box-shadow: 0px -5px 10px 0px rgba(0,0,0, 0.7),
                    0px 5px 10px 0px rgba(0,0,0, 0.7)
}

.main__button-section_button{
    
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 340px;
    height: 100%;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    background: unset;
}

.main__button-section_button p{
    padding-top: 20px;
    color: #000;
    letter-spacing: 0.3px;
    
}

.main__button-section_button img{
    width: 90px;
    height: 62px;
}

.main__info-section{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.main__info-section_text{
    display: flex;
    justify-content: space-between;
}

.main__info-section_text_vidio-text{
    display: flex;
}

.main__info-section_text_vidio-text_text{
    background: #EC9E03;
    display: flex;
     align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
   
}

.main__info-section_text_vidio-text_text p{
    color: #fff;
    margin: 25px 30px 0px;
}

.main__info-section_text_vidio-text_text img{
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.main__info-section_text_vidio-text_text img:hover{
    opacity: 0.7;
}

.main__info-section_text_vidio-text_video{
    background: url(assets/twtrvideo.svg);
}

.main__media-section{
    display: flex;
    flex-direction: column;
    height: 500px;
}

.main__media-section_title{
    display: flex;
    justify-content: center;
}

.main__media-section_title p{
    color: #f5c506;
}

.main__media-section_info{
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.main__media-section_info_img p{
    
    padding-top: 50px;
    padding-left: 3px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: #ffffff;
   position: absolute; 
}

#tablet{
    padding: 0px 25px 40px;
}

#phone{
    padding-bottom: 40px;
}

footer{
    background: #4C4C4C;
    box-shadow: 0px -5px 3px 0px rgba(0,0,0, 0.45);
}

.footer__grouped{
    display: flex;
    align-items: center;
    height: 100%;
}

.footer__grouped img{
    padding-right: 10px;
}

.footer__grouped h1{
    letter-spacing: 0.2px;
    color: #ffffff;
}

@media (min-width: 1400px) {
    header{
        align-items: flex-end;
        justify-content: space-between;
        margin-left: 140px;
        margin-right: 148px;
        margin-top: 26px;
        position: absolute;
        height: 85px;
        width: -webkit-fill-available;
    }

    .header__logo{
        width: unset;
        background: unset;
        height: unset;
    }

    .header__logo h1{
        padding-left: 10px;
        font-size: 40px;
        font-weight: 500;
        color: #fff;
         font-style: italic;
    }

    .header__logo img{
        width: unset;
    }

    .header__buttons{
        width: 456px;
        height: 42px;
    }

    .header__buttons button{
        height: 42px;
    }

    .header__buttons button img{
        padding-right: 5px;
    }

    #aboutUs{
        width: 173px;
    }

    #services{
        width: 135px;
    }
}

#contact{
    width: 148px;
}

.main__video-section{
    background: no-repeat center url(assets/Layer20.png);
    background-size: 100% 1136px;
    height: 567px;
}

.main__video-section button img{
    opacity: 0.8;
}

.main__video-section button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C7A20B;
    border: unset;
     width: 32px;
    cursor: pointer;
    height: 58px;
}

.main__video-section button:hover{
    background: #705a01;
}

#leftBTW{
    position: relative;
    top: 300px;
}

.main__video-section_video{
    margin-top: 165px;
    background: no-repeat url(assets/video1.svg);
    margin-left: 150px;
}


.main__video-section_video video{
    width: 550px;
    height: 328px;
}

.main__video-section_right{
    display: flex;
}

.main__video-section_right_text{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 260px;
    margin-right: 150px;
}

.main__video-section_right_text p{
    font-size: 63px;
    letter-spacing: 1px;
    font-weight: 500;
    color: white;
}

#yellowtext{
    color: #F7C107;
}

#rightBTW{
    position: relative;
    top: 300px;
}

.main__button-section{
    height: 212px;
}

.main__button-section_button p{
    font-size: 27px;
}

.main__info-section{
    background: url(assets/yellowbg.svg);
    height: 510px;
}

.main__info-section_text{
    display: flex;
    margin: 0 140px;
    margin-top: 45px;
    justify-content: space-between;
}

#title{
    
    color: white;
    font-size: 37px;
    font-weight: 400;
    margin-bottom: 45px;
    display: block;
}

.main__info-section_text_vidio-text{
    width: 655px;
    height: 235px;
}

.main__info-section_text_vidio-text_text{
    width: 340px;
    height: 235px;
}

.main__info-section_text_vidio-text_text p{
    font-size: 25px;
}

.main__info-section_text_vidio-text_text img{
    margin: 25px 30px;
}

.main__info-section_text_vidio-text_video{
    width: 315px;
}

.main__info-section_text_twitter{
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 88px;
    height: 235px;
    width: 330px;
    background: url(assets/twitter.svg);
    display: flex;
    
}

